META_VERIFY_TOKEN=VOTRE_TOKEN_DE_VERIFICATION
WHATSAPP_ACCESS_TOKEN=VOTRE_NOUVEAU_TOKEN_PERMANENT
WHATSAPP_PHONE_NUMBER_ID=1244536732082824
Host=VOTRE_HOST_AIVEN
Port=24130
User=avnadmin
Password=VOTRE_MOT_DE_PASSE_AIVEN
Database=defaultdb

# Aiven/Render TLS
MYSQL_SSL_REJECT_UNAUTHORIZED=false
